#dice {
  width: 60px;
  height: 60px;
  margin: 10px;
  perspective: 1000px;
  cursor: pointer;
}

.dice {
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  background: #8a0000;   /* ← Dice का BG Color */
  border-radius: 20%;
  display: grid;
  place-items: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.dice.rotate {
  animation: rotate 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.inner-face {
  display: grid;
  width: 40px;
  height: 40px;
  padding: 5px;
}

/* ROLL Text */
.dice-initial-face {
  display: flex;
  font-size: x-small;
  font-weight: bold;
  color: white;
  justify-content: center;
  align-items: center;
}

/* Dots */
.dot {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 0 5px #000;
}

/* Dice Faces Positions */
.face.front   { transform: translateZ(30px); }
.face.back    { transform: rotateY(180deg) translateZ(30px); }
.face.right   { transform: rotateY(90deg) translateZ(30px); }
.face.left    { transform: rotateY(-90deg) translateZ(30px); }
.face.top     { transform: rotateX(90deg) translateZ(30px); }
.face.bottom  { transform: rotateX(-90deg) translateZ(30px); }

/* Dot Layout */
.face1 .dot:nth-child(1) { grid-row: 2; grid-column: 2; }

.face2 .dot:nth-child(1) { grid-row: 1; grid-column: 1; }
.face2 .dot:nth-child(2) { grid-row: 3; grid-column: 3; }

.face3 .dot:nth-child(1) { grid-row: 1; grid-column: 1; }
.face3 .dot:nth-child(2) { grid-row: 2; grid-column: 2; }
.face3 .dot:nth-child(3) { grid-row: 3; grid-column: 3; }

.face4 .dot:nth-child(1) { grid-row: 1; grid-column: 1; }
.face4 .dot:nth-child(2) { grid-row: 1; grid-column: 3; }
.face4 .dot:nth-child(3) { grid-row: 3; grid-column: 1; }
.face4 .dot:nth-child(4) { grid-row: 3; grid-column: 3; }

.face5 .dot:nth-child(1) { grid-row: 1; grid-column: 1; }
.face5 .dot:nth-child(2) { grid-row: 1; grid-column: 3; }
.face5 .dot:nth-child(3) { grid-row: 2; grid-column: 2; }
.face5 .dot:nth-child(4) { grid-row: 3; grid-column: 1; }
.face5 .dot:nth-child(5) { grid-row: 3; grid-column: 3; }

.face6 .dot:nth-child(1) { grid-row: 1; grid-column: 1; }
.face6 .dot:nth-child(2) { grid-row: 2; grid-column: 1; }
.face6 .dot:nth-child(3) { grid-row: 3; grid-column: 1; }
.face6 .dot:nth-child(4) { grid-row: 1; grid-column: 3; }
.face6 .dot:nth-child(5) { grid-row: 2; grid-column: 3; }
.face6 .dot:nth-child(6) { grid-row: 3; grid-column: 3; }


@keyframes rotate {
  0%   { transform: rotateX(0deg) rotateY(0deg); }
  100% { transform: rotateX(720deg) rotateY(720deg); }
}
/* // 2d mai working code  animation akela sudharna hai  */